<h1>Welcome to Saudi Student Association, <%= @user.full_name %>!</h1>

<p>Thank you for signing up with us. We're excited to have you on board.</p>
<p>If you have any questions, feel free to reach out to us anytime.</p>

<p>Best regards,</p>
<p>The Team</p>
